<header>
    <nav>
        <ul>
            <li>
                <button mat-button color="primary" routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Home</button>
            </li>
            <li>
                <button mat-button color="primary" routerLink="/sobre" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Sobre</button>
            </li>
            <li>
                <button mat-button color="primary" routerLink="404" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Error</button>
            </li>
        </ul>
    </nav>
</header>